<div class="panel panel-primary ">
    <div class="panel-body">
        <%= form_for(@edificio) do |f| %>
        <% if @edificio.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@edificio.errors.count, "error") %> prohibited this edificio from being saved:</h2>
            <ul>
                <% @edificio.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <div class="field">
            <%= f.label :nombre_edificio %><br>
            <%= f.text_field :nombre_edificio, class: "form-control text-uppercase"%>
        </div>
        <div class="field">
            <%= f.label :nombre_propietario %><br>
            <%= f.text_field :nombre_propietario, class: "form-control text-uppercase"%>
        </div>
        <div class="field">
            <%= f.label :direccion %><br>
            <%= f.text_field :direccion , class: "form-control text-uppercase"%>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
        <% end %>
    </div>
</div>