<p id="notice"><%= notice %></p>

<h1>Listing Cajas</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Fecha cierre</th>
      <th>Apertura</th>
      <th>Cierre</th>
      <th>Entrada</th>
      <th>Salida</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cajas.each do |caja| %>
      <tr>
        <td><%= caja.usuario_id %></td>
        <td><%= caja.fecha_cierre %></td>
        <td><%= caja.apertura %></td>
        <td><%= caja.cierre %></td>
        <td><%= caja.entrada %></td>
        <td><%= caja.salida %></td>
        <td><%= caja.estado %></td>
        <td><%= link_to 'Show', caja %></td>
        <td><%= link_to 'Edit', edit_caja_path(caja) %></td>
        <td><%= link_to 'Destroy', caja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caja', new_caja_path %>
